<div class="container mt-5">
  <div class="card shadow-lg rounded-lg mb-4">
    <div class="card-body">
      <h1 class="text-center text-primary mb-4">Liste des Stages</h1>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Code</th>
            <th>Type</th>
            <th>Durée</th>
            <th>L'Entreprise</th>
            <th>L'Expérience</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{code}}</td>
            <td>{{type}}</td>
            <td>{{duree}}</td>
            <td>{{entreprise}}</td>
            <td>{{experience}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
