<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV de Wejden Chouaibi</title>
    
</head>
<body>
    <section>
        <h2>Compétences</h2>
    
        <!-- Compétences Professionnelles -->
        <article>
            <h3 class="competence-title">Compétences Professionnelles</h3>
            <div class="competence">
                <p>HTML / CSS</p>
                <div class="progress-bar">
                    <div class="bar c100"></div>
                </div>
            </div>
            <div class="competence">
                <p>PHP / MySQL</p>
                <div class="progress-bar">
                    <div class="bar c95"></div>
                </div>
            </div>
            <div class="competence">
                <p>JavaScript</p>
                <div class="progress-bar">
                    <div class="bar c90"></div>
                </div>
            </div>
            <div class="competence">
                <p>Angular</p>
                <div class="progress-bar">
                    <div class="bar c100"></div>
                </div>
            </div>
        </article>
    
        <!-- Compétences Personnelles -->
        <article>
            <h3 class="competence-title">Compétences Personnelles</h3>
            <div class="competence">
                <p>Créativité</p>
                <p>90%</p>
                <div class="progress-bar">
                    <div class="bar c90"></div>
                </div>
            </div>
            <div class="competence">
                <p>Adaptation</p>
                <p>85%</p>
                <div class="progress-bar">
                    <div class="bar c85"></div>
                </div>
            </div>
            <div class="competence">
                <p>Sérieux</p>
                <p>95%</p>
                <div class="progress-bar">
                    <div class="bar c95"></div>
                </div>
            </div>
            <div class="competence">
                <p>Pédagogie</p>
                <p>95%</p>
                <div class="progress-bar">
                    <div class="bar c95"></div>
                </div>
            </div>
        </article>
    </section>
</body>

        